table {
  width: 100%;
  text-align: center;
}
th, td {
  padding: 5px;
}
tr:active {
  background-color: #ccc;
}
.page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
}
.page > .title {
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}